<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판임당</title>
  <!--  bootstrap css-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<style>
  h3 {
    padding-top: 10px;
    text-align: center;
  }
  #rows:hover {
    cursor: pointer;
  }
  #btns {
    display: flex;
    justify-content: end;
    padding-right: 100px;
  }
  #tbb {
    padding-left: 100px;
    padding-right: 100px;
  }
  .table-dark {
    width: 100px;
    text-align: center;
  }
  tr > td:nth-child(1){
    text-align: center;
  }
  tr > td:nth-child(2){
    padding-left: 50px;
  }

</style>

<body>
  <h3>게시판임당</h3>
  <form id="frm" action="/board/del" method="post">

    <div id="tbb">
      <table class="table table-secondary table-hover">
        <thead class="table-dark">
          <tr>
            <!-- <td id="selectAll">전체선택</td> -->
            <td style="width:100px;">번호</td>
            <td style="flex-shrink: 0;">글제목</td>
            <td style="width:150px;">작성자</td>
            <td style="width:100px;">작성일</td>
          </tr>
        </thead>
        <br>
        <tbody class="table-group-divider" id="rows">
          <tr class="choice" th:each="post :${list}" th:data-post-id="${post.postId}">
            <!-- <td class="chk"><input type="checkbox" name="pids" th:value="${post.postId}"></td> -->
            <td th:text="${post.postId}"></td>
            <td th:text="${post.postTitle}"></td>
            <td th:text="${post.writer}"></td>
            <td th:text="${#temporals.format(post.udate,'yyyy-MM-dd')}"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--    <div class="text-lg-start"></div>-->
    <div id="btns">
      <button type="button" id="writeBtn" class="btn btn-dark">글쓰기</button>

      <!--      미구현-->
      <!--      <button type="submit" id="delBtn">삭제</button>-->
    </div>
  </form>
  <script>
    const $writeBtn = document.getElementById('writeBtn');
    // 글쓰기 버튼
    $writeBtn.addEventListener('click', evt => {
      location.href = `/board/write`;
    })

    //게시글 클릭시 조회로 이동
    const $rows = document.getElementById('rows');
    $rows.addEventListener('click', evt => {
      if(evt.target.tagName === 'INPUT' && evt.target.getAttribute('type') == 'checkbox'){
        return;
      }
      if(evt.target.tagName == 'TD' && evt.target.classList.contains('chk')){
        return;
      }
      const $row = evt.target.closest('.choice')
      const postId = $row.dataset.postId;
      location.href = `/board/${postId}/detail`;

    })

// 미구현
//     // 삭제
//     const frm = document.getElementById('frm');
//     frm.addEventListener('submit', evt => {
//       evt.preventDefault();
//       if (!window.confirm('삭제하시겠습니까?')) return;
//       evt.target.submit();
//     })

    // //전체선택
    // const $selectAll = document.getElementById('selectAll');
    // $selectAll.addEventListener('click', evt => {
    //   const $inputs = Array.from(document.querySelectorAll('#rows input[type=checkbox]'));
    //   const isAllChecked = $inputs.every(input => input.checked);
    //   if(isAllChecked){
    //     $inputs.forEach(input=>input.checked = false);
    //   } else {
    //     $inputs.forEach(input=>input.checked = true);
    //   }
    // })
    </script>
<!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>

</html>