<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글임당</title>
  <!--  bootstrap css-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<style>
  h3 {
    padding-top: 10px;
    text-align: center;
  }

  body {
    padding-right: 100px;
    padding-left: 100px;
  }

  .cdate{
    font-size: small;
  }

  #btns {
    display: flex;
    justify-content: end;
  }

  #addBtn {
    float: right;
    justify-content: end;
    margin-top: 10px;
  }
  #listBtn{
    margin-left: 6px;
  }

  #replyForm {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    height: 6.25em;
  }
  #replyBody {
    height: 150px;
  }

  .replies .buttons {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .btn {
    float: right;
    justify-content: end;
    margin-top: 5px;
    margin-left: 5px;
  }

  tr>td:nth-child(1) {
    width: 100px;
    text-align: center;

  }

  tr:nth-child(3) {
    height: 500px;
  }
</style>

<body>
  <h3>게시글임당(보기)</h3>
  <div id="tbb">
    <form action="#" method="post">
      <table class="table table-secondary">
        <thead class="table-dark">
          <tr>
            <td>글제목</td>
            <td th:text="${post.postTitle}"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width:100px;">작성자</td>
            <td th:text="${post.writer}"></td>
          </tr>
          <tr>
            <td>작성일</td>
            <td th:text="${post.udate}"></td>
          </tr>
          <tr>
            <td>내용</td>
            <td th:text="${post.postBody}"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <!-- postId 숨겨두기 -->
  <input type="hidden" id="postId" th:value="${post.postId}">
  <div id="btns">
    <div th:if="${session.loginMember.email == post.writer}">
      <button class="btn btn-dark" type="button" id="modifyBtn" value="수정">수정</button>
      <button class="btn btn-dark" type="button" id="deleteBtn" value="삭제">삭제</button>
    </div>
    <div>
      <button class="btn btn-dark" type="button" id="listBtn" value="목록">목록</button>
    </div>
  </div>
  <div>
    <!-- 댓글 코드 -->
    <!-- 댓글 작성란 -->
    <h4>댓글 작성</h4>
    <form id="replyForm">
      <textarea class="form-control" name="" placeholder="댓글 ㄱㄱ" id="replyBody" ></textarea>
      <button class="btn btn-secondary" id="addBtn">등록</button>
    </form>
    <br>
    <br>
    <!-- 댓글 목록 -->
    <h4>댓글</h4>
    <div id="replyList">



    </div>
  </div>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
  <script th:inline="javascript">
    /* 게시글 본문 */
    const pid = document.getElementById('postId').value;

    // 목록 버튼
    const $listBtn = document.getElementById('listBtn');
    $listBtn.addEventListener('click', evt => {
      location.href = '/board';
    })
    // 수정 버튼
    const $modifyBtn = document.getElementById('modifyBtn');
    if($modifyBtn) {
      $modifyBtn.addEventListener('click', evt => {
        location.href = `/board/${pid}/edit`;
      })
    }
    // 삭제 버튼
    const $deleteBtn = document.getElementById('deleteBtn');
    if($deleteBtn) {
      $deleteBtn.addEventListener('click', evt => {
        if (!window.confirm('삭제하시겠습니까?')) return;
        location.href = `/board/${pid}/del`;
      })
    }
    // 로그인 세션
    const memberId = [[${ session.loginMember.memberId }]];
    const Email = [[${ session.loginMember.email }]];
    const nickname = [[${ session.loginMember.Nickname }]];
    const role = [[${ session.loginMember.gubun }]]

    /* 댓글 */

    // 댓글 등록
    document.getElementById('replyForm').addEventListener('submit', async function (evt) {
      evt.preventDefault();
      const replyBody = document.getElementById('replyBody').value;

      const url = `http://localhost:9070/board/${pid}/replies`;
      const payload = {
        replyBody, replyWriter: Email, postId: pid
      };
      const option = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          accept: 'application/json',
        },
        body: JSON.stringify(payload),
      };

      try {
        const res = await fetch(url, option);
        if (!res.ok) throw new Error('서버에러발생');

        const result = await res.json();
        // 성공
        if (result.header.rtcd == '00') {
          document.getElementById('replyBody').value = '';
          await listReplies(pid);
        } else {
          throw new Error('댓글 실패!');
        }
      } catch (err) {
        console.error(err.message);
      }
    })


    // 댓글 목록 모체
    const $replyList = document.getElementById('replyList');

    // 댓글 목록 조회
    async function listReplies(pid) {
      const url = `http://localhost:9070/board/${pid}/replies`;
      const option = {
        method: 'GET',
        headers: {
          accept: 'application/json'
        }
      };
      try {
        const res = await fetch(url, option);
        if (!res.ok) throw new Error('서버응답오류');
        const result = await res.json();
        console.log(result);
        console.log(Email);
        if (result.header.rtcd == '00') {
          let sortedReplies = result.body.sort((a, b) => {
            // 날짜 필드를 기준으로 오름차순으로 정렬
            return new Date(a.cdate) - new Date(b.cdate);
          });
          let str = sortedReplies.map(reply => {
            let replyBox = '';
            replyBox =
              `
              <div class="replies card bg-light mb-3">
                <div class="replyBox card-body">
                  <p><input type="hidden" class="replyId" value="${reply.replyId}"></p>
                  <p class="cdate text-secondary">${reply.cdate}</p>
                  <p class="replyMan">${reply.replyWriter}</p>
                  <p class="replyBody">${reply.replyBody}</p>
                </div>
              `;
            if (reply.replyWriter == Email) {
              replyBox +=
                `<div class="buttons">
                  <button class="updBtn btn btn-secondary btn-sm">수정</button>
                  <button class="delBtn btn btn-danger btn-sm">삭제</button>
                </div>`;
            }
            replyBox += 
              `</div>`
              ;
            return replyBox;
          }).join('');
          // console.log(str);
          $replyList.innerHTML = str;
          removeTfromDates();
        } else {
          throw new Error('댓글 목록 조회 실패!');
        }
      } catch (err) {
        console.error(err.message);
      }
    }

    listReplies(pid);
   
    $replyList.addEventListener('click', evt => {
      const closestDiv = evt.target.closest('.replies');
      const replyBox_div = closestDiv.querySelector('.replyBox');
      const replyId_p = replyBox_div.querySelector('.replyId');         
      const replyWriter_p = replyBox_div.querySelector('.replyMan'); 
      const replyBody_p = replyBox_div.querySelector('.replyBody');  

      const replyId = replyId_p.value;
      const replyWriter = replyWriter_p.textContent;
      const replyBody = {
        replyBody: replyBody_p.textContent
      }

      // 삭제
      if (evt.target.className == 'delBtn btn btn-danger btn-sm') {
        if (!window.confirm('삭제하시겠습니까?')) return;
        console.log('삭제버튼');
        deleteById(replyId);
      }
      // 수정
      if (evt.target.className == 'updBtn btn btn-secondary btn-sm'){
        console.log('수정버튼');

        const buttonsDiv = closestDiv.querySelector('.buttons');
        const updBtn = closestDiv.querySelector('.updBtn');
        const delBtn = closestDiv.querySelector('.delBtn');

        // 숨김 처리
        replyBody_p.style.display = 'none';
        buttonsDiv.style.display = 'none';
        updBtn.style.display = 'none';
        delBtn.style.display = 'none';

        // textarea와 저장, 취소 버튼 생성
        const textarea = document.createElement('textarea');
        textarea.value = replyBody.replyBody;
        textarea.classList.add('form-control');
        const saveBtn = document.createElement('button');
        saveBtn.textContent = '저장';
        saveBtn.classList.add('btn', 'btn-success','btn-sm');
        const cancelBtn = document.createElement('button');
        cancelBtn.textContent = '취소';
        cancelBtn.classList.add('btn','btn-secondary','btn-sm');
        
        // textarea와 버튼들 추가
        replyBox_div.appendChild(textarea);
        replyBox_div.appendChild(saveBtn);
        replyBox_div.appendChild(cancelBtn);

        // 저장 버튼 클릭 이벤트 처리
        saveBtn.addEventListener('click', () => {
          const modifiedReply = textarea.value;
          updateById(replyId, modifiedReply);
          replyBody_p.innerHTML = modifiedReply;

          // 원래 상태로 복원
          replyBody_p.style.display = '';
          buttonsDiv.style.display = '';
          updBtn.style.display = '';
          delBtn.style.display = '';
          textarea.remove();
          saveBtn.remove();
          cancelBtn.remove();
        });

        // 취소 버튼 클릭 이벤트 처리
        cancelBtn.addEventListener('click', () => {
          // 원래 상태로 복원
          replyBody_p.style.display = '';
          buttonsDiv.style.display = '';
          updBtn.style.display = '';
          delBtn.style.display = '';
          textarea.remove();
          saveBtn.remove();
          cancelBtn.remove();
        });

      }
    })

    // 댓글 삭제
    async function deleteById(rid) {
      const url = `/board/${pid}/replies/${rid}`;
      const option = {
        method: 'DELETE',
        headers: { accept: 'application/json' }
      }
      try {
        const res = await fetch(url, option);
        if (!res.ok) throw new Error('서버에러임');

        const result = await res.json();

        if (result.header.rtcd == '00') {
          await listReplies(pid);
        } else {
          throw new Error('댓글 삭제 실패');
        }
      } catch (err) {
        console.error(err.message);
      }
    }

    // 댓글 수정
    async function updateById(rid, replybody) {
      const url = `/board/${pid}/replies/${rid}`;
      const payload = replybody;
      const option = {
        method: 'PATCH',
        headers: {
          'Content-Type': 'application/json',
          accept: 'application/json'
        },
        body: JSON.stringify(payload),

      };

      try {
        const res = await fetch(url, option);
        if (!res.ok) throw new Error('서버응답오류');
        const result = await res.json();

        if (result.header.rtcd === '00') {
          console.log(result.body);
        } else {
          throw new Error('수정실패');
        }
      } catch (err) {
        console.error(err.message);
      }
    }

    // 날짜 변환
    function removeTfromDates() {

      let cdateElements = document.querySelectorAll('.cdate');

      cdateElements.forEach(function(elem) {
        let originalText = elem.textContent || elem.innerText;
        let updatedText = originalText.replace('T', ' ').replace(/:\d{2}\.\d{3}/, '');
        elem.textContent = updatedText;
      });
    }

  </script>
</body>

</html>