<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글임당</title>
  <!--  bootstrap css-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<style>
  h3 {
    padding-top: 10px;
    text-align: center;
  }

  #btns {
    display: flex;
    justify-content: end;
    padding-right: 100px;
  }

  #tbb {
    padding-left: 100px;
    padding-right: 100px;
  }
</style>

<body>
  <h3>게시글임당(보기)</h3>
  <br>
  <div id="tbb">
    <form action="#" method="post">
      <table class="table table-secondary">
        <thead class="table-dark">
          <tr>
            <td>글제목</td>
            <td th:text="${post.postTitle}"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width:100px;">작성자</td>
            <td th:text="${post.writer}"></td>
          </tr>
          <tr>
            <td>작성일</td>
            <td th:text="${post.udate}"></td>
          </tr>
          <tr>
            <td>내용</td>
            <td th:text="${post.postBody}"></td>
          </tr>
        </tbody>
      </table>
  </div>
  <input type="hidden" id="postId" th:value="${post.postId}">
  <div id="btns">
    <button class="btn btn-dark" type="button" id="listBtn" value="목록">목록</button>
    <button class="btn btn-dark" type="button" id="modifyBtn" value="수정">수정</button>
    <button class="btn btn-dark" type="button" id="deleteBtn" value="삭제">삭제</button>
  </div>
  </form>
  <script>
    // 목록 버튼
    const $listBtn = document.getElementById('listBtn');
    $listBtn.addEventListener('click', evt => {
      location.href = '/board';
    })
    // 수정 버튼
    const $modifyBtn = document.getElementById('modifyBtn');
    const pid = document.getElementById('postId').value;
    $modifyBtn.addEventListener('click', evt => {
      location.href = `/board/${pid}/edit`;
    })
    // 삭제 버튼
    const $deleteBtn = document.getElementById('deleteBtn');
    $deleteBtn.addEventListener('click', evt => {
      if(!window.confirm('삭제하시겠습니까?')) return;
      location.href = `/board/${pid}/del`;
    })

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>


</body>

</html>