<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입임</title>
</head>
<body>
<h3>너 내 동료가 되어라</h3>

<form action="" method="POST">
  <p><input type="text" name="email" placeholder="이메일"></p>  
  <p><input type="password" name="password" placeholder="비밀번호"></p>  
  <p><input type="password"  placeholder="비밀번호 함더"></p>  
  <p><input type="text" name="nickname" placeholder="닉네임"></p>  
  <p><button id="signUpBtn">회원가입</button></p>
</form>
<script>

</script>

</body>
</html>